<div materialize="carousel" class="carousel">
  <a class="carousel-item" ><img src="https://media.giphy.com/media/1iuHmewmBNUBp8E0RQ/giphy.gif"></a>
  <a class="carousel-item" ><img src="https://media.giphy.com/media/1k0Y3yWUq5oCQX6E6x/giphy.gif"></a>
  <!--boneco do pau-->
  <a class="carousel-item" ><img src="https://media.giphy.com/media/1ZDtR0CaPv8CNbI69l/giphy.gif"></a>
  <!--mago e cara do rifle e shaman-->
  <a class="carousel-item" ><img src="https://media.giphy.com/media/jViJVDZCvwvPeSYklt/giphy.gif"></a>
  <a class="carousel-item" ><img src="https://media.giphy.com/media/ljtpCCET681FJosDbn/giphy.gif"></a>
  <a class="carousel-item" ><img src="https://media.giphy.com/media/i3DtRGUuugJomEdn80/giphy.gif"></a>
  <a class="carousel-item" ><img src="https://media.giphy.com/media/i3DtRGUuugJomEdn80/giphy.gif"></a>
  <!--boneco do pau de novo-->
  <a class="carousel-item" ><img src="https://media.giphy.com/media/L11RWosBInd4Bn1tfi/giphy.gif"></a>
  <a class="carousel-item" ><img src="https://media.giphy.com/media/1Zz9BlzPyzX3i47Esw/giphy.gif"></a>
  <!--rog-->
  <a class="carousel-item" ><img src="https://media.giphy.com/media/4Neze6cP6R1ZJ89FbV/giphy.gif"></a>
  <a class="carousel-item" ><img src="https://media.giphy.com/media/vgx7Dx0Krc7NZU24y3/giphy.gif"></a>
  <a class="carousel-item" ><img src="https://media.giphy.com/media/3FnMRHK14UVpiNEAFx/giphy.gif"></a>
  <!--gorila-->
  <a class="carousel-item" ><img src="https://media.giphy.com/media/TDLCRaL1Gdg38HV0gC/giphy.gif"></a>
  <a class="carousel-item" ><img src="https://media.giphy.com/media/k6Oe1NoZHsJi2anuhz/giphy.gif"></a>
  <a class="carousel-item" ><img src="https://media.giphy.com/media/2fyon3M0zXOxh3QWdf/giphy.gif"></a>
  <a class="carousel-item" ><img src="https://media.giphy.com/media/3rmsTdKRduMV9bgW6d/giphy.gif"></a>
  <a class="carousel-item" ><img src="https://media.giphy.com/media/1fnuKAvRZDrUTVdCM5/giphy.gif"></a>
  <!--2 do fim-->
  <a class="carousel-item" ><img src="https://media.giphy.com/media/aGgar8ON4IcCvtnYuG/giphy.gif"></a>
  <a class="carousel-item" ><img src="https://media.giphy.com/media/BMsXKAREtDfx9cG2qg/giphy.gif"></a>
</div>
