<div class="center-align">
  <div class="section"></div>
  <div class="section"></div>
  <div class="container">
    <div class="row">
      <div class="section">
        <div class="col s12">
          <div class="input-field">
            <i class="material-icons prefix">person</i>
            <input id="login" type="text" class="validate">
            <label for="login">Login</label>
          </div>
        </div>
      </div>
      <div class="section">
        <div class="col s12">
          <div class="input-field">
            <i class="material-icons prefix">vpn_key</i>
            <input id="password" type="text" class="validate">
            <label for="password">Password</label>
          </div>
        </div>
      </div>
      <div class="section">
          <a class="btn waves-effect waves-light deep-purple lighten-2 z-depth-3" [ngClass]="" >SUBMIT</a>
      </div>
    </div>
  </div>
  <div class="section"></div>
  <div class="section"></div>
</div>
