<div  class="parallax-container">
  <div materialize="parallax" class="parallax"><img src="https://media.discordapp.net/attachments/489946411882905613/527637141841379358/ists_okay_now_Animation_1_0.png?width=998&height=559"></div>
</div>
<div class="section black">
  <div class="row container">
    <h2 class="header white-text">comissions</h2>
    <p class="white-text">here you can order some comission and shit you want that stuff.</p>
  </div>
</div>
<div  class="parallax-container">
  <div materialize="parallax" class="parallax"><img src="https://media.discordapp.net/attachments/489946411882905613/527636508690219038/City_Of_Cthulhu_Complete.png?width=998&height=559"></div>
</div>
